<!DOCTYPE html>
<html>
  <head>
    <title><%= elementName %> demo (ES5)</title>
    <script src="/node_modules/@webcomponents/webcomponentsjs/custom-elements-es5-adapter.js"></script>
    <script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
    <script src="/dist/<%= elementName %>.es5.js"></script>
  </head>
  <body>
    <p><code>&lt;<%= elementName %>&gt;Hello world!&lt;/<%= elementName %>&gt;</code></p>
    <<%= elementName %>>Hello world!</<%= elementName %>>
  </body>
</html>
